/* 登录 */
#login {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -360px;
  .header {
    padding-top:15px;
    padding-bottom:15px;
    .logo {
      float:left;
      width:40px;
      height:40px;
      background:url(../img/logo.png) 0 0 no-repeat;
      margin-right:5px;
    }
    .title {
      float:left;
      font-size:26px;
      margin-top:3px;
    }
  }
  .content {
    background:#021535;
    height:600px;
    .layui-main {
      height:100%;
      background:url(../img/login_bg.png) center left no-repeat;
      .login_form {
        width:300px;
        padding:30px;
        background:rgba(255,255,255,.8) !important;
        background:#fff;
        border-radius:5px;
        position:absolute;
        right:0;
        top:145px;
         h3 {
           padding-bottom:15px;
         }
         .layui-form-item {
           button.log_on {
             width:100%;
           }
         }
        .layui-text {
          text-align:right;
          a {
            color:#1E9FFF;
          }
        }
      }
    }
  }
  .footer {
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    color:#999;
  }
}

/* 首页 */
#home {
  .layui-body {
    .layui-main {
      .well {
        .grid {
          > h5.title_sm {
            padding-bottom:10px;
            span.sqa_sm {
              display:inline-block;
              width:9px;
              height:9px;
              background:#666;
              margin-right:5px;
            }
          }
          .sqa_count {
            padding:10px;
            border-radius:4px;
            &.blue {
              background:#cee9f4;
              color:#29aae1;
            }
            &.orange {
              background:#f9e4c7;
              color:#ff9900;
            }
            &.gray {
              background:#dadada;
              color:#666;
            }
            &.red {
              background:#ecced0;
              color:#c2272b;
            }
            .title {
              text-align: center;
              float: left;
              > span {
                display:block;
                &.iconfont {
                  margin-bottom: 5px;
                  font-size: 24px;
                }
              }
            }
            .num {
              margin-left:60px;
              font-size:25px;
              font-weight:bold;
              padding-top:7px;
              text-align:right;
            }
          }
        }
      }
    }
  }
}

/* 设备页面 */
#device {
  .layui-body {
    .layui-main {
      .main_left {
        .search {
          margin-bottom:10px;
        }
        .station_list {
          border:1px solid #e6e6e6;
          border-bottom:none;
          max-height:800px;
          overflow-x:hidden;
          overflow-y:auto;
          li {
            padding:10px;
            border-bottom:1px solid #e6e6e6;
            a {
              font-size:12px;
              color:#666;
              &:hover {
                color:#1E9FFF;
              }
            }
          }
        }
      }
      .main_right {
        .main_right_wrap {
          .dev_info {
            .map {
              float:left;
            }
            .info {
              margin-left: 260px;
              margin-right: 250px;
              font-size: 12px;
              line-height: 2.5;
              .layui-inline {
                width:40%;
                padding-left:5px;
                padding-right:5px;
                float:left;
                &:first-child {
                  width:60%;
                }
              }
            }
            .radar {
              position:absolute;
              right:10px;
              top:10px;
              width:240px;
              height:150px;
            }
          }
        }
      }
    }
  }
}

/* 流量页面 */
#flow {
  .layui-body {
    .layui-main {
      .main_left {
        .search {
          margin-bottom:10px;
        }
        .station_list {
          border:1px solid #e6e6e6;
          border-bottom:none;
          max-height:800px;
          overflow-x:hidden;
          overflow-y:auto;
          li {
            padding:10px;
            border-bottom:1px solid #e6e6e6;
            a {
              font-size:12px;
              color:#666;
              &:hover {
                color:#1E9FFF;
              }
            }
          }
        }
      }
      .main_right {
        .main_right_wrap {
          .month_count {
            > h4 {
              .layui-input-inline {
                .layui-form-item {
                  > .layui-inline {
                    > .layui-form-label {
                      width:45px;
                    }
                    > .layui-input-inline {
                      width:100px;
                    }
                  }
                }
              }
            }
            .info {
              margin-left: 260px;
              margin-right: 250px;
              font-size: 12px;
              line-height: 2.5;
              .layui-inline {
                width:40%;
                padding-left:5px;
                padding-right:5px;
                float:left;
                &:first-child {
                  width:60%;
                }
              }
            }
            .radar {
              position:absolute;
              right:10px;
              top:10px;
              width:240px;
              height:150px;
            }
          }
        }
      }
    }
  }
}

/* 告警页面 */
#warning {
  .main_left {
    .well_content {
      .date_select {
        span.layui-badge-rim {
          height: 24px;
          line-height: 22px;
          width: 48%;
          padding: 0 10px;
          margin-bottom:5px;
          border-radius:4px;
          cursor: pointer;
          &.active {
            background:#f8931f;
            color:#fff;
            border-color:#fa921f;
          }
        }
      }
      .sqa_count {
        height:68px;
        line-height:48px;
        border-radius:5px;
        margin-top:15px;
        padding:10px;
        .common_light_spot {
          margin-right:10px;
        }
        span.num {
          display:block;
          float:right;
          max-width: 80px;
          font-size:18px;
        }
        &.common_color_red {
          background:#f2d4d4;
        }
        &.common_color_orange {
          background:#fde9d1;
        }
        &.common_color_green {
          background:#cde0cc;
        }
        &.common_color_blue {
          background:#d4effa;
        }
      }
    }
  }
  .warning_list {
    .layui-table {
      tbody {
        tr {
          &.text_red {
            color:#fe0000;
          }
          &.text_orange {
            color:#fc9802;
          }
          &.text_green {
            color:#016502;
          }
          td:first-child {
            color:#666;
          }
        }
      }
    }
  }
}

/* 首页-地图 */
#index {
  .side_bar_menu {
    position: fixed;
    z-index: 4;
    background: rgba(2,21,53,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.8);
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    top:10%;
    left:0;
    .head_img {
      text-align: center;
      padding: 15px 0;
      > img {
        width:32px;
        height:32px;
        border-radius:50%;
      }
    }
    ul.layui-nav-tree {
      width:auto;
      background:none;
      li.layui-nav-item {
        a {
          height: 50px;
          line-height: 50px;
          padding: 0 15px;
          &:hover {
            background:none;
          }
        }
        &.layui-this {
          background: none;
          a {
            color:#fff;
            background-color: rgba(31, 41, 94, 0.6);
            &:after {
              content:'';
              display:block;
              width:5px;
              position:absolute;
              right:-5px;
              top:0;
              bottom:0;
              background-color: #f7941f;
            }
          }
        }
      }
      .layui-nav-bar {
        background:#f7941f;
        right: -5px;
        left: auto;
      }
    }

  }
  .side_bar_count {
    position:fixed;
    right:0;
    bottom:0;
    top:0;
    width:300px;
    z-index:4;
    background: rgba(0, 0, 0, 0.2);
    .counts {
      position: absolute;
      top: 50%;
      right: 0;
      left: 50px;
      margin-top: -175px;
      .count {
        color:#999;
        padding-top:20px;
        padding-bottom:20px;
        .num {
          font-size: 32px;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(255,255,255,.5);
        }
        .title {
          padding-top: 10px;
          > span {
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }

  }

}

@media screen and (max-height: 710px) {
  #login {
    top:0;
    margin-top:0;
  }
}