/* 登录 */
#login {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -360px;
  .header {
    padding-top:15px;
    padding-bottom:15px;
    .logo {
      float:left;
      width:40px;
      height:40px;
      background:url(../img/logo.png) 0 0 no-repeat;
      margin-right:5px;
    }
    .title {
      float:left;
      font-size:26px;
      margin-top:3px;
    }
  }
  .content {
    background:#021535;
    height:600px;
    .layui-main {
      height:100%;
      background:url(../img/login_bg.png) center left no-repeat;
      .login_form {
        width:300px;
        padding:30px;
        background:rgba(255,255,255,.8) !important;
        background:#fff;
        border-radius:5px;
        position:absolute;
        right:0;
        top:145px;
         h3 {
           padding-bottom:15px;
         }
         .layui-form-item {
           button.log_on {
             width:100%;
           }
         }
        .layui-text {
          text-align:right;
          a {
            color:#1E9FFF;
          }
        }
      }
    }
  }
  .footer {
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    color:#999;
  }
}

/* 首页 */
#home {
  .layui-body {
    .layui-main {
      .well {
        .grid {
          > h5.title_sm {
            padding-bottom:10px;
            span.sqa_sm {
              display:inline-block;
              width:9px;
              height:9px;
              background:#666;
              margin-right:5px;
            }
          }
          .sqa_count {
            padding:10px;
            border-radius:4px;
            &.blue {
              background:#cee9f4;
              color:#29aae1;
            }
            &.orange {
              background:#f9e4c7;
              color:#ff9900;
            }
            &.gray {
              background:#dadada;
              color:#666;
            }
            &.red {
              background:#ecced0;
              color:#c2272b;
            }
            .title {
              text-align: center;
              float: left;
              > span {
                display:block;
                &.iconfont {
                  margin-bottom: 5px;
                  font-size: 24px;
                }
              }
            }
            .num {
              margin-left:60px;
              font-size:25px;
              font-weight:bold;
              padding-top:7px;
              text-align:right;
            }
          }
        }
      }
    }
  }
}

/* 设备页面 */
#device {
  .layui-body {
    .layui-main {
      .main_left {
        .search {
          margin-bottom:10px;
        }
        .station_list {
          border:1px solid #e6e6e6;
          border-bottom:none;
          max-height:800px;
          overflow-x:hidden;
          overflow-y:auto;
          li {
            padding:10px;
            border-bottom:1px solid #e6e6e6;
            a {
              font-size:12px;
              color:#666;
              &:hover {
                color:#1E9FFF;
              }
            }
          }
        }
      }
      .main_right {
        .main_right_wrap {
          .dev_info {
            .map {
              float:left;
            }
            .info {
              margin-left: 260px;
              margin-right: 250px;
              font-size: 12px;
              line-height: 2.5;
              .layui-inline {
                width:40%;
                padding-left:5px;
                padding-right:5px;
                float:left;
                &:first-child {
                  width:60%;
                }
              }
            }
            .radar {
              position:absolute;
              right:10px;
              top:10px;
              width:240px;
              height:150px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 710px) {
  #login {
    top:0;
    margin-top:0;
  }
}