* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
input,
textarea,
select,
button {
  color: #666;
}
body {
  font-family: "Microsoft YaHei";
}
.layui-layout-admin .layui-main {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.layui-layout-admin .layui-body,
.layui-layout-admin .layui-footer {
  left: 0;
}
.layui-layout-admin .layui-body .layui-main {
  background: #f7f7f7;
}
.wrap_all {
  min-width: 1170px;
}
.body_bg {
  background: #eaedf2;
}
#header {
  background: #021535;
}
#header .layui-main .logo {
  display: block;
  width: 45px;
  height: 47px;
  background: url(../img/logo.png) 0 -46px no-repeat;
  position: absolute;
  left: 20px;
  top: 6px;
}
#header .layui-main .layui-nav {
  position: absolute;
  left: 100px;
  top: 0;
  right: 0;
  background: transparent;
}
#header .layui-main .layui-nav .layui-nav-item a {
  height: 60px;
}
#header .layui-main .layui-nav .layui-nav-item a > i.iconfont {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
#header .layui-main .layui-nav .layui-nav-item.nav_user {
  position: absolute;
  right: 73px;
  top: 0;
}
#header .layui-main .layui-nav .layui-nav-item.nav_user .layui-nav-img {
  margin-left: 10px;
  margin-right: 0;
}
#header .layui-main .layui-nav .layui-nav-item.nav_logout {
  position: absolute;
  right: 0;
  top: 0;
}
#header .layui-main .layui-nav .layui-nav-item.nav_logout > a > i {
  font-size: 28px;
}
#footer {
  background: #021535;
  text-align: center;
}
