<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>江西省交通流量调查管理平台</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="../static/js/html5.min.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts/echarts.min.js"></script>
</head>
<body class="body_bg">

<!-- HTML代码 -->
<div id="warning" class="layui-layout layui-layout-admin wrap_all">
    <!-- 菜单导航 -->
    <div class="layui-header" id="header">
        <div class="layui-main">
            <a href="" class="logo"></a>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href=""><i class="iconfont icon-shouye"></i>首页</a></li>
                <li class="layui-nav-item"><a href=""><i class="iconfont icon-dituzhaofang"></i>地图</a></li>
                <li class="layui-nav-item"><a href=""><i class="iconfont icon-icon-"></i>设备</a></li>
                <li class="layui-nav-item"><a href=""><i class="iconfont icon-liuliang"></i>流量</a></li>
                <li class="layui-nav-item layui-this"><a href=""><i class="iconfont icon-gaojingxinxi"></i>告警</a></li>
                <li class="layui-nav-item nav_user"> <a href="">admin<img src="http://t.cn/RCzsdCq" class="layui-nav-img"></a></li>
                <li class="layui-nav-item nav_logout"><a href=""><i class="iconfont icon-tuichu4"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- 主内容 -->
    <div class="layui-body wrap_all">
        <div class="layui-main frame_cols_2 layui-clear">
            <div class="main_left">
                <!-- 观测站列表 -->
                <div class="well">
                    <h4>告警统计</h4>
                    <div class="well_content">
                        <div class="date_select">
                            <span class="layui-badge-rim" onclick="dateRangeSelect(this)">今日告警</span>
                            <span class="layui-badge-rim" onclick="dateRangeSelect(this)">近两日告警</span>
                            <span class="layui-badge-rim" onclick="dateRangeSelect(this)">近一周告警</span>
                            <span class="layui-badge-rim active" onclick="dateRangeSelect(this)">所有告警</span>
                        </div>
                        <div class="sqa_count common_color_red font_12">
                            <span class="common_light_spot common_bg_red light_effect" title="运行中">
                                <b class="common_bg_red"></b>
                            </span>严重告警
                            <span class="num text_ellipsis">12</span>
                        </div>
                        <div class="sqa_count common_color_orange font_12">
                            <span class="common_light_spot common_bg_orange light_effect" title="运行中">
                                <b class="common_bg_orange"></b>
                            </span>一般告警
                            <span class="num text_ellipsis">46</span>
                        </div>
                        <div class="sqa_count common_color_green font_12">
                            <span class="common_light_spot common_bg_green light_effect" title="运行中">
                                <b class="common_bg_green"></b>
                            </span>消息提醒
                            <span class="num text_ellipsis">120</span>
                        </div>
                        <div class="sqa_count common_color_blue font_12">
                            <span class="common_light_spot common_bg_blue light_effect" title="运行中">
                                <b class="common_bg_blue"></b>
                            </span>告警总数
                            <span class="num text_ellipsis">500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_right">
                <div class="main_right_wrap">
                    <!-- 告警列表 -->
                    <div class="well warning_list">
                        <h4>告警列表
                            <span class="tip">（正在显示第&nbsp;<span>50-60</span>&nbsp;条，共&nbsp;<span>487</span>&nbsp;条）</span>
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs" data-method="popWin" data-type="config" id="warningConfigModal">告警配置</button>
                            </div>
                        </h4>
                        <table class="layui-table style_1" lay-size="sm" lay-skin="nob">
                            <colgroup>
                                <col width="100">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>告警级别</th>
                                    <th>告警内容</th>
                                    <th>处理状态</th>
                                    <th>告警时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text_red">
                                    <td>01</td>
                                    <td>严重</td>
                                    <td>控制异常关闭</td>
                                    <td>待处理</td>
                                    <td>2018-01-25&nbsp;12:00:00</td>
                                    <td class="layui-text"><a href="">确认</a>&nbsp;&nbsp;&nbsp;<a href="">解决</a>&nbsp;&nbsp;&nbsp;<a href="">忽略</a></td>
                                </tr>
                                <tr class="text_orange">
                                    <td>02</td>
                                    <td>一般</td>
                                    <td>控制异常关闭</td>
                                    <td>待处理</td>
                                    <td>2018-01-25&nbsp;12:00:00</td>
                                    <td class="layui-text"><a href="">确认</a>&nbsp;&nbsp;&nbsp;<a href="">解决</a>&nbsp;&nbsp;&nbsp;<a href="">忽略</a></td>
                                </tr>
                                <tr class="text_green">
                                    <td>03</td>
                                    <td>提醒</td>
                                    <td>控制异常关闭</td>
                                    <td>——</td>
                                    <td>2018-01-25&nbsp;12:00:00</td>
                                    <td>——</td>
                                </tr>
                                <tr class="text_orange">
                                    <td>04</td>
                                    <td>一般</td>
                                    <td>控制异常关闭</td>
                                    <td>已确认</td>
                                    <td>2018-01-25&nbsp;12:00:00</td>
                                    <td class="layui-text"><a href="">处理</a>&nbsp;&nbsp;&nbsp;<a href="">忽略</a></td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>一般</td>
                                    <td>控制异常关闭</td>
                                    <td>已处理</td>
                                    <td>2018-01-25&nbsp;12:00:00</td>
                                    <td class="layui-text">——</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="page" class="text_center layui-table-page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="layui-footer" id="footer"></div>
</div>

<!-- 告警配置 -->
<div id="warningConfig" style="display:none;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">设备掉线</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入设备识别码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 40px;">
            <label class="layui-form-label" style="color:#a5a5a5;">设备型号</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入设备型号"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 40px;">
            <label class="layui-form-label" style="color:#a5a5a5;">观测站编号</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入观测站编号"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 40px;">
            <label class="layui-form-label" style="color:#a5a5a5;">观测站名称</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入观测站名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 40px;">
            <label class="layui-form-label" style="color:#a5a5a5;">观测类型</label>
            <div class="layui-input-inline" style="width:150px;">
                <select name="interest" lay-filter="aihao">
                    <option value="1">断面|上行|下行</option>
                    <option value="2">断面|上行|下行</option>
                    <option value="3">断面|上行|下行</option>
                </select>
            </div>
        </div>
    </form>
</div>

<script src="../layui/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['laypage', 'element', 'form', 'layer'], function(){
        var laypage = layui.laypage
            ,element = layui.element
            ,form = layui.form
            ,layer = layui.layer;

        laypage.render({
            elem: 'page'
            ,count: 10 //数据总数，从服务端得到
            ,theme: '#1E9FFF' //自定义选中色值
        });
        //触发事件
        $("#warningConfigModal").click(function(){
            var type = $(this).data("type");
            layer.open({
                type: 1
                , skin: 'layui-layer-darkblue' //样式类名
                , id: 'layerModal' + type //防止重复弹出
                , title: ["告警配置"]
                , area: '600px'
                , id: 'layerModal' + type //防止重复弹出
                , content: $("#warningConfig").html()
                , yes: function () {
                    layer.closeAll();
                }
            });
            form.render();
        });
    });

    function dateRangeSelect(obj) { //选择筛选的日期范围
        $(obj).addClass("active").siblings().removeClass("active");
    }

</script>
</body>
</html>